*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
key.jks
OLD_APKs
LATEST_APK/TapTimer [2016.11.20-1][v0.01.02].apk
/key.jks
/CHANGELOG.md
/LATEST_APK/TapTimer \[2016.11.20-1\]\[v0.01.02\].apk
